<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
</head>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

<body>
<div class="container bg-light">
    <div><br><br></div>
    <div class="row">
        <div class="contents form-group col-10">
            <canvas id="myChart"></canvas>
        </div>
        <div class="contents form-group col-2">
            <label for="rateOp" class="form-label">통화 선택 : </label>
            <select id="rateOp">
                <option value="USD">USD</option>
                <option value="KRW">KRW</option>
                <option value="JPY">JPY</option>
            </select>
            <div><br></div>
            <h5 id="rateDate"></h5>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">USD</th>
                    <th scope="col">KRW</th>
                    <th scope="col">JPY</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td id="usdV"></td>
                    <td id="krwV"></td>
                    <td id="jpyV"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>

<script>
    var pageAction = function () {

        var rate = 1;

        var dataBTC = [];
        var dataETH = [];
        var dataBCH = [];
        var dataDOGE = [];
        var dataXRP = [];
        var labels = [];

        var init = function () {
            selectPaymentReqInfo();
            eventBind();
            gridChart2();
        }

        function eventBind(data) {

            $('#rateOp').change(function () {
                switch ($('#rateOp').val()) {
                    case 'USD' :
                        rate = $('#usdV').text();
                        break;
                    case 'KRW' :
                        rate = $('#krwV').text();
                        break;
                    case 'JPY' :
                        rate = $('#jpyV').text();
                        break;
                }

                casesChart.destroy();
                dataBTC = [];
                dataETH = [];
                dataBCH = [];
                dataDOGE = [];
                dataXRP = [];
                labels = [];
                gridChart2(data);
            });

        }

        function selectPaymentReqInfo(data) {
            $.ajax({
                url: "api/chart/selectExchangeRate",
                data: data,
                dataType: "json",
                type: "GET",
                async: false,
                success: function (data) {
                    $('#usdV').text(data.usd);
                    $('#krwV').text(data.krw);
                    $('#jpyV').text(data.jpy);
                    $('#rateDate').text(data.exchangeRateRegdate + "  고시환율");
                }
            });
        }

        // function gridChart(data) {
        //     $.ajax({
        //         url: "api/chart/getCoinValueOfChart",
        //         data: data,
        //         dataType: "json",
        //         type: "GET",
        //         async: false,
        //         success: function (data) {
        //             var dataChart = {
        //                 labels: data[0],
        //                 datasets: [{
        //                     label: 'BTC',
        //                     backgroundColor: 'rgb(255,0,54)',
        //                     borderColor: 'rgb(255,0,54)',
        //                     data: data[1],
        //                 }, {
        //                     label: 'ETH',
        //                     backgroundColor: 'rgb(30,40,209)',
        //                     borderColor: 'rgb(30,40,209)',
        //                     data: data[2],
        //                 }, {
        //                     label: 'BCH',
        //                     backgroundColor: 'rgb(255,255,99)',
        //                     borderColor: 'rgb(255,255,99)',
        //                     data: data[3],
        //                 }, {
        //                     label: 'DOGE',
        //                     backgroundColor: 'rgb(49,220,42)',
        //                     borderColor: 'rgb(49,220,42)',
        //                     data: data[4],
        //                 }, {
        //                     label: 'XRP',
        //                     backgroundColor: 'rgb(235,104,35)',
        //                     borderColor: 'rgb(235,104,35)',
        //                     data: data[5],
        //                 }]
        //             };
        //             const lender = {
        //                 type: 'line',
        //                 data: dataChart,
        //                 options: {
        //                     responsive: true,
        //                     plugins: {
        //                         legend: {
        //                             position: 'top',
        //                         },
        //                         title: {
        //                             display: true,
        //                             text: 'Coin Chart'
        //                         }
        //                     }
        //                 }
        //             };
        //             const lenderChart = new Chart($('#myChart'), lender);
        //         }
        //     });
        // }

        function gridChart2(data) {
            $.ajax({
                url: "api/chart/selectCoinValue",
                data: data,
                dataType: "json",
                type: "GET",
                async: false,
                success: function (data) {
                    var cnt = data.length / 5;
                    for (let i = 0; i < cnt; i++) {
                        labels.push(data[i].coinValueRegdate);
                    }

                    for (let j = 0; j < cnt; j++) {
                        dataXRP.push(data[j].tradePrice * rate);
                    }

                    for (let j = cnt; j < cnt * 2; j++) {
                        dataETH.push(data[j].tradePrice * rate);
                    }

                    for (let j = cnt * 2; j < cnt * 3; j++) {
                        dataDOGE.push(data[j].tradePrice * rate);
                    }

                    for (let j = cnt * 3; j < cnt * 4; j++) {
                        dataBTC.push(data[j].tradePrice * rate);
                    }

                    for (let j = cnt * 4; j < cnt * 5; j++) {
                        dataBCH.push(data[j].tradePrice * rate);
                    }
                }
            });

            casesChart = new Chart($('#myChart'), {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'BTC',
                        backgroundColor: 'rgb(255,0,54)',
                        borderColor: 'rgb(255,0,54)',
                        data: dataBTC,
                    }, {
                        label: 'ETH',
                        backgroundColor: 'rgb(30,40,209)',
                        borderColor: 'rgb(30,40,209)',
                        data: dataETH,
                    }, {
                        label: 'BCH',
                        backgroundColor: 'rgb(255,255,99)',
                        borderColor: 'rgb(255,255,99)',
                        data: dataBCH,
                    }, {
                        label: 'DOGE',
                        backgroundColor: 'rgb(49,220,42)',
                        borderColor: 'rgb(49,220,42)',
                        data: dataDOGE,
                    }, {
                        label: 'XRP',
                        backgroundColor: 'rgb(235,104,35)',
                        borderColor: 'rgb(235,104,35)',
                        data: dataXRP,
                    }]
                },
                options: {
                    responsive: true,
                    plugins: {
                        legend: {
                            position: 'top',
                        },
                        title: {
                            display: true,
                            text: 'Coin Chart'
                        }
                    }
                }
            });

        }

        return {
            init: init
        }

    }

    $(function () {
        pageAction().init();
    });

</script>

</html>