<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
</head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

<body>
<div class="container bg-light">
    <div><br><br></div>
    <div class="row">
        <div class="contents form-group col-10">
            <canvas id="myChart"></canvas>
        </div>
        <div class="contents form-group col-2">
            <label for="rateOp" class="form-label">통화 선택 : </label>
            <select id="rateOp">
                <option value="usd">USD</option>
                <option value="krw">KRW</option>
                <option value="jpy">JPY</option>
            </select>
            <div><br></div>
            <h5 th:text="'환율('+${exchangeRate.getExchangeRateRegdate()}+' 고시환율)'"></h5>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">USD</th>
                    <th scope="col">KRW</th>
                    <th scope="col">JPY</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td id="usdV" th:text="${exchangeRate.getUsd()}">usd</td>
                    <td id="krwV" th:text="${exchangeRate.getKrw()}">krw</td>
                    <td id="jpyV" th:text="${exchangeRate.getJpy()}">jpy</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>

<script th:inline="javascript">
    var rate = 1;

    $('#rateOp').change(function () {

        if ($('#rateOp').value="krw") {
            rate = [[${exchangeRate.getKrw()}]]
        } else if ($('#rateOp').value="jpy") {
            rate = [[${exchangeRate.getJpy()}]];
        } else {
            rate = 1;
        }
        alert(rate);
    });

    $(document).ready(function () {
        gridChart();
    });

    function gridChart(data) {
        $.ajax({
            url: "api/chart/getCoinValueOfChart",
            data: data,
            dataType: "json",
            type: "GET",
            async: false,
            success: function (data) {
                var dataChart = {
                    labels: data[0],
                    datasets: [{
                        label: 'BTC',
                        backgroundColor: 'rgb(255,0,54)',
                        borderColor: 'rgb(255,0,54)',
                        data: data[1],
                    }, {
                        label: 'ETH',
                        backgroundColor: 'rgb(30,40,209)',
                        borderColor: 'rgb(30,40,209)',
                        data: data[2],
                    }, {
                        label: 'BCH',
                        backgroundColor: 'rgb(255,255,99)',
                        borderColor: 'rgb(255,255,99)',
                        data: data[3],
                    }, {
                        label: 'DOGE',
                        backgroundColor: 'rgb(49,220,42)',
                        borderColor: 'rgb(49,220,42)',
                        data: data[4],
                    }, {
                        label: 'XRP',
                        backgroundColor: 'rgb(235,104,35)',
                        borderColor: 'rgb(235,104,35)',
                        data: data[5],
                    }]
                };
                const lender = {
                    type: 'line',
                    data: dataChart,
                    options: {
                        responsive: true,
                        plugins: {
                            legend: {
                                position: 'top',
                            },
                            title: {
                                display: true,
                                text: 'Coin Chart'
                            }
                        }
                    }
                };
                const lenderChart = new Chart($('#myChart'), lender);
            }

        });
    }


</script>

</html>